body{

    background-color: hsl(78, 81%, 67%) ;
    


}

h1
{
  color: rgb(243, 240, 240);
  text-align: center;
  font-family: 'Times New Roman', Times, serif ;
  background-color: rgb(29, 27, 27);
  border-radius: 200px;

  
}

form{

  position: relative;
  left: 150px;
  top: 30px;
  font-size: larger;
  
}

#fy{

  position: relative;
  top: 56px;
  left: 265px;


  


}
#sy{

  position: relative;
  top: 140px;
  left: 20px;

}

#ty{

  position: relative;
  top: 140px;
  left: 40px;
}

button{

  border-radius: 5px;
  

}
h3{

  position: relative;
  top: 352px;
  left: 150px;
  font-weight: 200;
  font-style: italic;
}
